{background-color: #F3ECE1}

/* top nav */

.inlineBlock{
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px;
    margin-right: 65px;
    font-family: 'arial', medium;
    font-size: 19px;

}

a{
    text-decoration: none;
    color: black;
}

button{
    background-color: black;
    color: #F3ECE1;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    margin: auto;
    display: block;
    width: 130px;
}



.Logo{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 50px;
}

/* hero section */

.heroimg{
    height: 500px;
    padding-left: 50px;
    margin-top: 400px;

}

.content{
    width: 600px;
}

h3 {
    font-family: 'arial', medium;
    font-size: 30px;
}

h4 {
    font-family: 'arial', regular;
    font-size: 20px;
    padding-bottom: 10px;
}


/* footer section */

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footerBar{
    background-color: black;
    color: #F3ECE1;
    vertical-align:middle;
    font-family: 'arial', medium;
    font-size: 19px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    display: flex;
    align-items: center;
}

.left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}
.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-right: 50px;
}

